type CallOption func(*http.Request)

func WithHeader(name, value string) CallOption {
	return func(r *http.Request) { r.Header.Set(name, value) }
}

func WithRequestEditor(edit func(*http.Request)) CallOption {
	return func(r *http.Request) { edit(r) }
}

func applyCallOptions(r *http.Request, opts []CallOption) {
	for _, opt := range opts {
		if opt != nil {
			opt(r)
		}
	}
}
